<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales">
            <group id="general">
                <field id="product_limit" translate="label" type="text" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Order Product Limit</label>
                    <comment>Product Limit for Orders over last 30 days.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
